@import "mixins.scss";

$spinner_outside_color: var(--content-3);

.spinner {
  border: 2px solid transparent;
  border-top-color: $spinner_outside_color;
  border-bottom-color: $spinner_outside_color;
  border-radius: 50%;

  :global {
    animation: rotating 0.5s linear infinite;
  }
}
