@import "mixins.scss";

:global {
  *[class^="rsg--preview"] {
    padding: 0 !important;
    border-color: var(--border) !important;
  }

  *[class^="rsg--link"] {
    color: var(--blue-base) !important;
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
      color: var(--blue-hover) !important;
    }
  }

  *[class^="rsg--heading"] {
    color: var(--content-1) !important;
  }

  *[class^="rsg--pathline"] {
    color: var(--content-3) !important;
  }

  .rsg--content-3 {
    max-width: 1200px !important;
  }

  footer {
    display: none !important;
  }

  .rsg--root-1 {
    background: var(--background-primary) !important;
  }

  .rsg--sidebar-4 {
    background: var(--background-secondary) !important;
    border-color: var(--border) !important;
  }

  .rsg--logo-5 {
    border-color: var(--border) !important;

    h1 {
      color: var(--content-1) !important;
    }
  }
}

.wrapper {
  position: relative;
}
